body{
    background-color: blueviolet;
    text-align: center;
}
.receipt-paper{
    width: 50%;
    height: 45%;
    background-color: #fff;
    border-radius: 10px;
    margin: 50px auto;
    padding: 10px;
    box-sizing: border-box;
}
.barcode{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.barcode img{
    width: 100%;
    height: 100%;
}
.header-ref{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-ref > img{
    width: 50px;
}
dl{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
}
